<app-header></app-header>

<div class="tasks-container-main">
  <!-- Task Creation Panel -->
  <div class="create-task-panel">
    <div class="new-task-card">
      <h3>Create New Task</h3>
      <div class="form-group">
        <label for="taskDescription">Task Description</label>
        <input type="text" id="taskDescription" class="form-control" [(ngModel)]="newTask.description" />
      </div>
      <div class="form-group">
        <label for="urgency">Urgency</label>
        <select id="urgency" class="form-control" [(ngModel)]="newTask.urgency">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <div class="form-group">
        <label for="creator">Creator</label>
        <input type="text" id="creator" class="form-control" [(ngModel)]="newTask.creator" />
      </div>
      <div class="form-group">
        <label for="assignedTo">Assigned To</label>
        <input type="text" id="assignedTo" class="form-control" [(ngModel)]="newTask.assignedTo" />
      </div>
      <div class="form-group">
        <label for="dueDate">Due Date</label>
        <input type="date" id="dueDate" class="form-control" [(ngModel)]="newTask.dueDate" />
      </div>
      <button class="btn-primary" (click)="createTask()">Create Task</button>
    </div>
  </div>

  <!-- Tasks Grid -->
  <div class="container">
    <div class="grid">
      <div class="grid-item notCompleted" (dragover)="allowDrop($event)" (drop)="onTaskDrop($event, 'notCompleted')">
        <h2 class="title">Not Completed</h2>
        <div class="task-container" *ngFor="let task of taskStatus.notCompleted" [class]="getUrgencyClass(task)" draggable="true" (dragstart)="onDragStart($event, task)">
          <div class="task-description">{{ getTaskDescription(task) }}</div>
          <div class="task-urgency">Urgency: {{ getTaskUrgency(task) }}</div>
          <div class="task-creator">Creator: {{ getTaskCreator(task) }}</div>
          <div class="task-assignedTo">Assigned To: {{ getTaskAssignedTo(task) }}</div>
          <div class="task-dueDate">Due Date: {{ getTaskDueDate(task) }}</div>
        </div>
      </div>
      <div class="grid-item middle workingOnIt" (dragover)="allowDrop($event)" (drop)="onTaskDrop($event, 'workingOnIt')">
        <h2 class="title">Working On It</h2>
        <div class="task-container" *ngFor="let task of taskStatus.workingOnIt" [class]="getUrgencyClass(task)" draggable="true" (dragstart)="onDragStart($event, task)">
          <div class="task-description">{{ getTaskDescription(task) }}</div>
          <div class="task-urgency">Urgency: {{ getTaskUrgency(task) }}</div>
          <div class="task-creator">Creator: {{ getTaskCreator(task) }}</div>
          <div class="task-assignedTo">Assigned To: {{ getTaskAssignedTo(task) }}</div>
          <div class="task-dueDate">Due Date: {{ getTaskDueDate(task) }}</div>
        </div>
      </div>
      <div class="grid-item completed" (dragover)="allowDrop($event)" (drop)="onTaskDrop($event, 'completed')">
        <h2 class="title">Completed</h2>
        <div class="task-container" *ngFor="let task of taskStatus.completed" [class]="getUrgencyClass(task)" draggable="true" (dragstart)="onDragStart($event, task)">
          <div class="task-description">{{ getTaskDescription(task) }}</div>
          <div class="task-urgency">Urgency: {{ getTaskUrgency(task) }}</div>
          <div class="task-creator">Creator: {{ getTaskCreator(task) }}</div>
          <div class="task-assignedTo">Assigned To: {{ getTaskAssignedTo(task) }}</div>
          <div class="task-dueDate">Due Date: {{ getTaskDueDate(task) }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
