<app-header></app-header>

<div class="chart-container">
  <p-chart type="pie" [data]="data" [options]="options" width="400px"></p-chart>
  <div class="chart-text">Company Distribution</div>
</div>
<div class="chart-container">
  <p-chart type="line" [data]="lineChartData" [options]="lineChartOptions" width="400px"></p-chart>
  <div class="chart-text">Flights Over Time</div>
</div>
<div class="chart-container">
  <p-chart type="bar" [data]="barChartData" [options]="barChartOptions" width="400px"></p-chart>
  <div class="chart-text">Delays by Airline</div>
</div>

<div class="flights-container">
  <p-table [value]="flights | slice:0:10" class="flights-table">
    <ng-template pTemplate="header">
      <tr>
        <th>Flight Number</th>
        <th>Company</th>
        <th>Starting Point</th>
        <th>Destination</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Estimated Arrival Time</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-flight>
      <tr>
        <td>{{ flight.flight_number }}</td>
        <td>{{ flight.company_name }}</td>
        <td>{{ flight.starting_airport_name }}</td>
        <td>{{ flight.end_airport_name }}</td>
        <td>{{ flight.departure_time }}</td>
        <td>{{ flight.arrival_time }}</td>
        <td>{{ flight.estimated_arrival_time }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
