.chart-container {
  flex: 1;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start; /* Align items at the top */
  justify-content: center;
  height: 30%;
  width: 30%;
  margin-top: 80px; /* Margin from the top */
  background-color: #202020;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  border: 2px solid #ccc;
}

.chart-title {
  font-size: 18px;
  margin-right: 10px;
  color: #ffffff;
}

/* Add this to prevent the container from wrapping */
.mat-grid-list {
  flex-wrap: nowrap;
}
