


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff; /* Ensure text is visible on dark background */
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
  font-size: 3em; /* Adjust the size as needed */
  background: linear-gradient(45deg, #6829C4, #D22D3D, #ee9411, #68e965);
  background-size: 500% 500%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientBackground 10s ease infinite; /* Adjust the time as needed */
  -webkit-animation: gradientBackground 10s ease infinite; /* For Safari and older browsers */
}

/* Continue with the rest of your styles */


.buttons-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px; /* Added space between the buttons and text boxes */
}

button {
  padding: 10px;
  font-size: 16px;
  border: none; /* Remove default border */
  color: #ffffff; /* White text */
  background-image: linear-gradient(45deg, #6829C4, #D22D3D); /* Gradient from purple to salmon */
  cursor: pointer; /* Pointer cursor on hover */
  transition: transform 0.3s ease; /* Smooth transition for interaction */
}

button:hover {
  transform: scale(1.05); /* Slightly enlarge buttons on hover */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}
nf
input, button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #2DD2C2; /* Turquoise border for inputs and submit button */
  background-color: #202020; /* Dark gray background */
  color: #ffffff; /* White text */
}

input:focus, button[type="submit"]:focus {
  outline: 2px solid #ee9411; /* Bright orange outline on focus */
}
