.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  grid-column-gap: 80px;
  justify-content: space-around;
  align-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.5s ease;
}

.grid-item {
  height: 300px;
  width: 400px;
  background-color: #6829C4;
  border-radius: 20px;
  filter: brightness(75%);
  position: relative;
}
.grid-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  border-radius: 20px;
}
.grid-item:hover {
  transform: scale(1.05);
  filter:brightness(100%);
}
.grid-item:nth-child(1) {
  background-image:url('/assets/graph.png'); /* Default background image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}
.grid-item:nth-child(1):hover {
  background-image: url('/assets/hovered_graphs.png'); /* Hover effect */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}
.grid-item:nth-child(2) {
  background-image:url('/assets/planemap.png'); /* Default background image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}
.grid-item:nth-child(2):hover {
  background-image: url('/assets/hovered_planemap.png'); /* Hover effect */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}
.grid-item:nth-child(3) {
  background-image:url('/assets/task.png'); /* Default background image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}
.grid-item:nth-child(3):hover {
  background-image: url('/assets/hovered_task.png'); /* Hover effect */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}

.grid-item:nth-child(4) {
  background-image:url('/assets/hovered_settings.png'); /* Default background image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}
.grid-item:nth-child(4):hover {
  background-image: url('/assets/settings.png'); /* Hover effect */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}

.grid-item:nth-child(5) {
  background-image:url('/assets/search1.png'); /* Default background image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}
.grid-item:nth-child(5):hover {
  background-image: url('/assets/search2.png'); /* Hover effect */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}
.sidebar-container:hover {
  width: 250px;
}
.sidebar-container:hover ~ .grid-container {
  left: 60%;
}

@keyframes wave {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
