
<app-header></app-header>
<div class="container">
    <div class="content">
    <div class="grid-container">
      <button class="grid-item" (click)="redirectToGraphs()"></button>
      <button class="grid-item" (click)="redirectToMaps()"></button>
      <button class="grid-item" (click)="redirectToTasks()"></button>
      <button class="grid-item" (click)="redirectToSettings()" *ngIf="isAdmin()"></button>
      <button class="grid-item" *ngIf="isAdmin()" (click)="redirectToFindFlight()"></button>
      <button class="grid-item" *ngIf="isAdmin()"></button>
    </div>
  </div>


</div>
