<div class="dashboard-container">
  <app-header></app-header>
  <div class="sidebar-container">
    <div class="sidebar">
      <ul>
        <li><button>Home</button></li>
        <li><button>Statistics</button></li>
        <li><button (click)="redirectToGraphs()">Graphs</button></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="grid-container">
      <button class="grid-item" (click)="redirectToGraphs()"></button>
      <button class="grid-item" (click)="redirectToMaps()"></button>
      <button class="grid-item" (click)="redirectToTasks()"></button>
      <button class="grid-item" (click)="redirectToSettings()"></button>
      <button class="grid-item"></button>
      <button class="grid-item"></button>
    </div>
  </div>
</div>
