<div class="dashboard-container">
  <div class="sidebar-container">
    <div class="sidebar">
      <ul>
        <li><button>Home</button></li>
        <li><button>Statistics</button></li>
        <li><button>Graphs</button></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="floating-text">Airplane Dashboard Nokia</div>
    <div class="grid-container">
      <button class="grid-item"></button>
      <button class="grid-item"></button>
      <button class="grid-item"></button>
      <button class="grid-item"></button>
      <button class="grid-item"></button>
      <button class="grid-item"></button>
    </div>
  </div>
</div>
