/* You can add global styles to this file, and also import other style files */
body {
  margin: 0; /* Removes the default margin */
  padding: 0; /* Removes the default padding */
  background-color: #202020; /* Sets the background color to dark gray */
  color: #ffffff; /* Sets the default text color to white for contrast */
}
